<div class="container">
<form [formGroup]="surveyForm" class="normal-form"> <!-- (ngSubmit)="onSubmit()"> -->
  <h4>Add Survey</h4> 
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutNoWrap fxLayoutGap="30px">
    <div fxFlex="33%">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input formControlName="surveyName" matInput placeholder="Survey Name">
          <mat-error>{{getSurveyNameError()}}</mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="33%">
        <mat-form-field>
          <mat-select formControlName="client" placeholder="Client">
            <ng-container *ngFor="let client of clients">
              <mat-option value="{{client.id}}">{{client.itemName}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="33%">
        <mat-form-field>
          <mat-select formControlName="project" placeholder="Project">
            <ng-container *ngFor="let project of projects">
              <mat-option value="{{project.id}}">{{project.itemName}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutNoWrap fxLayoutGap="30px">
    <div fxFlex="31%">
        <div class="add-bottom-padding">
          <mat-radio-group class="recipient-radio-group" formControlName="recipientChoice">
            <mat-radio-button value="1">Send to Project Contact</mat-radio-button>
            <mat-radio-button value="2">Send to Custom Contact</mat-radio-button>
          </mat-radio-group>
        </div>    
    </div>

    <div>
      <mat-form-field>
        <input formControlName="recipientFirstName" matInput placeholder="First Name">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="recipientLastName" matInput placeholder="Last Name">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="recipientEmail" matInput placeholder="Email">
        <mat-error>{{getEmailError()}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <h4>Create questions</h4>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutNoWrap fxLayoutGap="30px">
    <div fxFlexAlign="flex-end">
   	  <h4 class="mat-h4">To request feedback on employees, select an Employee and click the Add button:</h4>
    </div>
    <div>
      <mat-form-field>
        <mat-select [(value)]="selectedEmployee" placeholder="Employee" [disabled]="!isProjectSelected">
          <ng-container *ngFor="let employee of employees">
            <mat-option value="{{employee.id}}">{{employee.itemName}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!selectedEmployee" (click)="addEmployeeQuestion()">Add</button>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutNoWrap fxLayoutGap="30px">
    <div fxFlexAlign="flex-end">
   	  <h4 class="mat-h4">To request feedback for MedAcuity, select checkbox:</h4>
    </div>
    <div>
        <mat-checkbox formControlName="requestFeedback">Get MedAcuity feedback</mat-checkbox>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutNoWrap fxLayoutGap="30px">
    <div fxFlexAlign="flex-end">
   	  <h4 class="mat-h4">To create Custom questions, click the Add button:</h4>
    </div>    
    <div>
      <button mat-raised-button color="primary" [disabled]="!isProjectSelected" (click)="addCustomQuestion()">Add</button>
    </div>
  </div>

  <h4>Survey Questions</h4>
  <div class="container" fxLayout="row" fxLayout.xs="column" *ngIf="questions.length > 0" >
    <div fxFlex="75%">
	  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	    
	    <!-- Question Column -->
	    <ng-container matColumnDef="question">
	      <th mat-header-cell *matHeaderCellDef> Question </th>
	      <td mat-cell *matCellDef="let element"> {{element.question}} </td>
	    </ng-container>

	    <!-- Options Column -->
	    <ng-container matColumnDef="options">
	      <th mat-header-cell *matHeaderCellDef> Options </th>
	      <td mat-cell *matCellDef="let element"> 
			<ol>
			  <li *ngFor="let option of element.options">
			  	{{option}}
			  </li>
			</ol>
	      </td>
	    </ng-container>

    	<!-- Action Column -->
	    <ng-container matColumnDef="action">
	      <th mat-header-cell *matHeaderCellDef> Action </th>
	      <td mat-cell *matCellDef="let element"> 
	        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
	          <a mat-raised-button *ngIf="element.questionType == 'Custom'" (click)="editQuestion(element)">Edit</a>
	    	  <a mat-raised-button (click)="deleteQuestion(element)">Delete</a>
	    	</div>
	      </td>
	    </ng-container>

	    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  </table>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column">
    <div *ngIf="questions.length == 0">
   	  <h5>No Questions Added.</h5>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutNoWrap fxLayoutGap="20px">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Save</button>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    <mat-error *ngIf="showNoQuestionError">You must enter at least one question.</mat-error>
  </div>

</form>
</div>

