/* You can add global styles to this file, and also import other style files */

html, body { height: 95%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
	margin: 10px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.action-link {
	padding-right: 5px;
}

.mat-column-action {
  width: 150px;
}

.action-buttons {
	margin-left: -20px;
}