<div class="container">
<h4>Preview Survey</h4> 
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
    <p>Name: <b>{{survey.itemName}}</b></p> 
    <p>Project: <b>{{survey.projectName}} </b></p>
    <p>Client: <b>{{survey.clientName}}</b></p>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column">
    <p>The following survey will be sent to <b>{{survey.recipient.firstName}} {{survey.recipient.lastName}}</b></p>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column">
	<mat-card>
	  <div #surveyContainer></div>
	</mat-card>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  	<button *ngIf="survey.status==='Draft'" mat-raised-button color="primary" (click)="editSurvey()">Edit Survey</button>
    <button *ngIf="survey.status!='Draft'" mat-raised-button color="warn" (click)="goBack()">Return</button>
  	<button mat-raised-button color="primary" (click)="sendSurvey()">Send Survey</button>

  </div>
</div>